
 body{background: #f3f4f8;}

@media (max-width:767px) {
h1 {font-size: 25px !important;}
}


h1{font-size: 30px;}
th,td{text-align: center;}

img,h1{
vertical-align:middle ;

}

.alig{
vertical-align:top;

}
.ha{display: inline-block;
;
}


/* div{border: 1px solid #999;}*/
